*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans';
    scroll-behavior: smooth;
}

nav h4:hover{
    transform: scale(1.05);
    transition: transform 0.35s;
}

nav{
    position: sticky;
    top: 0;
    color: white;
    height: 10vh;
    width: 100%;
    background-color: rgb(8, 8, 8,0.7);
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    font-weight: bolder;
    padding: 1%;
    font-size: larger;
    backdrop-filter: blur(6.3px);
    -webkit-backdrop-filter: blur(6.3px);
    list-style: none;
    z-index: 9999;
}


.home{
    height: 95vh;
    color: white;
    padding: 20px;
}

.container {
    height: 40vh;
    width: 50vw;
    margin: 10% 24%;
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    background: rgba(112, 112, 112, 0.17);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.3px);
    -webkit-backdrop-filter: blur(6.3px);
    border: 1px solid rgba(112, 112, 112, 0.67);
    font-size: larger;
    position:sticky;
}

.socials{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.notification{
    width: max-content;
    background: rgba(14, 14, 14, 0.17);
    border: 1px solid rgba(112, 112, 112, 0.67);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 15px;
    gap: 10px;
    margin: -50px 600px;
    display: none;
    transition: ease-in 0.5s;
}

.notification h4{
    font-weight: lighter;
}

.socials i{
    margin: 10px 10px;
    font-size: larger;
    color: rgb(119, 119, 119);
}
.mail button{
    background: none;
    color: rgb(119, 119, 119);
    border: none;
    font-size: larger;
    width: 40px;
    
}
.mail button:hover{
    color: white;
    transform: scale(1.05);
    transition: transform 0.35s;
}
nav ul li{
    list-style: none;
    display: flex;
    flex-direction: row;
    margin: 20px;
    gap: 40px;
}

nav ul li a{
    color: rgb(158, 158, 158);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-weight: lighter;
    text-decoration: none;
    transition: transfrom 0.35s;
}

nav ul li a:hover{
    color: white;
    transform: scale(1.05);
    text-decoration: underline;
    transition: transform 0.35s;
}

.socials i{
    transition: transform 0.35s;
}
.socials i:hover{
    color: white;
    transform: scale(1.2);
}

body{
    background-image: url('SL_0210121_40570_57.jpg');
    background-repeat: no-repeat;
    background-size:contain;
}

.about img{
    height: 400px;
    width: 530px;
    border-radius: 15px;
}

.about{
    height: 90vh;
    background-color: black;
    padding: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 70px;
}

.about-text h3{
    color: white;
}

.about-text{
    
    color: rgb(155, 155, 155);
    padding: 20px;
    margin: 20px;
    width: 500px;
    height: fit-content;
    font-weight: lighter;
    background: rgba(112, 112, 112, 0.17);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.3px);
    -webkit-backdrop-filter: blur(6.3px);
    border: 1px solid rgba(112, 112, 112, 0.67);
    transition: transform 0.35s;
}

.about-text:hover{
    transform: scale(1.05);
}

.skills{
    background-image: url('SL_0210121_40570_57.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: 0% 50%;
    color: white;
    height: 90vh;
    display: flex;
    flex-direction: column;
    font-size: larger;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 20px;
}

.head{
    font-size: xx-large;
}

.box{
    display: flex;
    flex-direction: row;
    text-align: center;
}

.tech-stack{
    height: 200px;
    width: 300px;
    margin: 0 10px;
    padding: 20px;
    background: rgba(112, 112, 112, 0.17);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.3px);
    -webkit-backdrop-filter: blur(6.3px);
    border: 1px solid rgba(112, 112, 112, 0.67);
    transition: transform 0.35s;
}
.tech-content h4{
    font-weight: lighter;
    color: rgb(158, 158, 158);
    margin: 5px;
    transition: transform 0.35s;
}

.tech-stack:hover{
    transform: scale(1.05);
}


.soft{
    margin: 0 10px;
    height: 200px;
    width: 300px;
    padding: 20px;
    background: rgba(112, 112, 112, 0.17);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.3px);
    -webkit-backdrop-filter: blur(6.3px);
    border: 1px solid rgba(112, 112, 112, 0.67);
    transition: transform 0.35s;
}

.soft-content h4{
    font-weight: lighter;
    color: rgb(158, 158, 158);
    font-size: smaller;
    margin: 5px;
    
}

.soft:hover{
    transform: scale(1.05);
}
.others{
    margin: 0 10px;
    padding: 20px;
    height: 200px;
    width: 300px;
    background: rgba(112, 112, 112, 0.17);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.3px);
    -webkit-backdrop-filter: blur(6.3px);
    border: 1px solid rgba(112, 112, 112, 0.67);
    transition: transform 0.35s;
}

.others-content h4{
    font-weight: lighter;
    color: rgb(158, 158, 158);
    font-size: smaller;
    margin: 5px;
}

.others:hover{
    transform: scale(1.05);
}
.skills i{
    color: rgb(158, 158, 158);
    padding: 10px;
    font-size: xx-large;
}

.skills i:hover{
    color: rgb(255, 255, 255);
}

.project{
    font-style: none;
    display: flex;
    flex-direction: column;
    background-color: black;
    height: 90vh;
    color: white;
    font-weight: bolder;
    justify-content: center;
    align-items: center;
}

.project-container{
    display: flex;
    flex-direction: row;
    text-align: center;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    margin: 40px;
}

.project-container a{
    color: white;
    text-decoration: none;
}

.project-1{
    height: 400px;
    width: 300px;
    margin: 0 10px;
    background: linear-gradient(rgba(9, 9, 9, 0.5),rgb(9,9,9,0.9)),url('Screenshot 2023-12-30 122010.png');
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(112, 112, 112, 0.67);
    background-size: cover;
    background-position: 50% 50%;
    transition: transform 0.35s;
}

.project-1:hover{
    transform: scale(1.05);
}

.project-2{
    height: 400px;
    width: 300px;
    margin: 0 10px;
    padding: 20px;
    background: linear-gradient(rgb(9,9,9,0.5),rgb(9,9,9,0.9)),url('Screenshot 2023-12-30 132602.png');
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(112, 112, 112, 0.67);
    background-size: cover;
    background-position: 46% 50%;
    transition: transform 0.35s;
}

.project-2:hover{
    transform: scale(1.05);
}

.project-3{
    height: 400px;
    width: 300px;
    margin: 0 10px;
    padding: 20px;
    background: linear-gradient(rgb(9,9,9,0.5),rgb(9,9,9,0.9)),url('Screenshot 2023-12-30 132207.png');
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(112, 112, 112, 0.67);
    background-size: cover;
    background-position: 40% 50%;
    transition: transform 0.35s;
}

.project-3:hover{
    transform: scale(1.05);
}

.edu{
    background-image: url('SL_0210121_40570_57.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: 0% 50%;
    height: 90vh;
    color: white;
    display: flex;
    flex-direction: column;
    font-size: larger;
    align-items: center;
    justify-content: center;

}

.hat-icon{
    font-size: xxx-large;
    margin: 40px;
}

.edu-content{
    display: flex;
    flex-direction: row;
}

.content{
    color: rgb(158, 158, 158);
    margin: 20px;
    padding: 20px;
    height: 200px;
    width: 600px;
    text-align: left;
    justify-content: center;
    background: rgba(112, 112, 112, 0.17);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.3px);
    -webkit-backdrop-filter: blur(6.3px);
    border: 1px solid rgba(112, 112, 112, 0.67);
    transition: transform 0.35s;
}

.content:hover{
    transform: scale(1.05);
}